<div class="form-group <%= className %>">

    <label for="<%= name %>" class="property-label"><%= options.label %></label>

    <div class="input-group input-append date" data-provide="datepicker" data-date-autoclose="true">

        <input type="text" name="<%= name %>" value="<%= display %>" class="form-control">

        <div class="input-group-addon add-on">
            <a href="#"><i class="glyphicon glyphicon-star"></i></a>
        </div>

    </div>

    <% if (options.description) { %>
        <p class="help-block"><%= options.description %></p>
    <% } %>

</div>